/****** Script for SelectTopNRows command from SSMS  ******/

SELECT [Cliente-Dni]
      ,[Cliente-Apellido]
      ,[Cliente-Nombre]
      ,[Cliente-Fecha_Nac]
      ,[Cliente_Mail]
      ,[Cliente_Direccion]
      ,[Cliente_Codigo_Postal]
      ,[Nro_Factura]
      ,[Factura_Fecha]
      ,[Factura_Total]
      ,[Factura_Fecha_Vencimiento]
      ,[ItemFactura_Monto]
      ,[ItemFactura_Cantidad]
      ,[Empresa_Nombre]
      ,[Empresa_Cuit]
      ,[Empresa_Direccion]
      ,[Empresa_Rubro]
      ,[Rubro_Descripcion]
      ,[Pago_nro]
      ,[Pago_Fecha]
      ,[ItemPago_nro]
      ,[Total]
      ,[FormaPagoDescripcion]
      ,[Sucursal_Nombre]
      ,[Sucursal_Dirección]
      ,[Sucursal_Codigo_Postal]
      ,[Rendicion_Nro]
      ,[Rendicion_Fecha]
      ,[ItemRendicion_nro]
      ,[ItemRendicion_Importe]
  FROM [GD2C2017].[gd_esquema].[Maestra]